.conteiner-about-us {
  display: flex;
  align-items: center;
  position: relative;
  padding-bottom: 40px;
  margin-top: 150px;
}

.box-about-us {
  position: absolute;
  top: -95px;
  left: -145px;
  width: 512px;
  height: 547px;
  margin-right: 40px;
  background-image: url(../images/about-us/cupcake9.jpg);
  background-repeat: no-repeat;
  background-color: transparent;
}

.about-us-right {
  margin-left: 440px;
}

.about-us {
  font-family: Montserrat;
  font-size: 18px;
  line-height: 1.22;
  letter-spacing: 0.03em;
}
.about-us-item {
  margin-right: 30px;
}
.title-about-us {
  margin-bottom: 10px;
  font-family: Caveat Brush;
  font-size: 24px;
  line-height: 2.7;
  color: var(--header-color);
}
.text-about-us {
  width: 392px;
  color: var(--header-color);
}
.text-about-us:not(:last-child) {
  padding-bottom: 10px;
}

.button-about-us {
  background-color: transparent;
  border: transparent;
  font-family: Caveat Brush;
  font-size: 18px;
  line-height: 3.61;
  color: var(--primery-text-color);
  cursor: pointer;
  text-align: center;
}
