:root {
  --primary-text-color: #2e2520;
  --secondary-text-color: #000000;
  --primary-accent-color: #ab816c;
  --secondary-accent-color: #674d40;
  --button-text-color: #ffffff;
  --main-font: 'Montserrat', sans-serif;
  --secondary-font: 'Caveat Brush', cursive;
}
