:root{
    --primary-text-color: #2E2520;
    --secondary-text-color: #000000;
    --primary-accent-color: #AB816C;
    --secondary-accent-color: #674D40;
    --button-text-color: #FFFFFF;
    --main-font: 'Montserat', sans-serif;
    --secondary-font: 'Caveat Brush', cursive;
}
