<section class="contact" id="contacts">
    <div class="container">
        <h2 class="section-title">Contact</h2>
        <p class="section-text">We will answer any question!</p>
        <form class="contact-form"> 
            <input type="email" class="form-input" name="email" placeholder="Email">
            <input class="form-input" name="comment" placeholder="Type your question"></input>
        </form>     
        <button class="contact-button" type="submit">Send</button>
    
    </div>
   
</section>