<header>
  <div class="container header-container">
    <nav class="nav">
      <a href="" class="nav-link-logo">
        <img src="./images/header/logo.svg" width="158" alt="Oh my Donut">
      </a>
      <ul class="nav-items">
        <li class="nav-item">
          <a href="#about_us" class="nav-link">
            About us
          </a>
        </li>
        <li class="nav-item">
          <a href="#program" class="nav-link">
            Program
          </a>
        </li>
        <li class="nav-item">
          <a href="#reviews" class="nav-link">
            Reviews
          </a>
        </li>
        <li class="nav-item">
          <a href="#contact" class="nav-link">
            Contacts
          </a>
        </li>
      </ul>
    </nav>
  </div>
</header>