<header>
  <div class="container">
    <nav class="nav">
      <a href="" class="nav-link-logo">
          <img src="./images/logo.png" width="158" alt="Oh my Donut">
        </a>
            <ul class="nav-items">
        <li class="nav-item">
          <a href="" class="nav-link">
            <h3 class="nav-title">About us</h3>
          </a>
        </li>
        <li class="nav-item">
          <a href="" class="nav-link">
            <h3 class="nav-title">Program</h3>
          </a>
        </li>
        <li class="nav-item">
          <a href="" class="nav-link">
            <h3 class="nav-title">Reviews</h3>
          </a>
        </li>
        <li class="nav-item">
          <a href="" class="nav-link">
            <h3 class="nav-title">Contacts</h3>
          </a>
        </li>
      </ul>
      </nav>
    </div>
</header>
