<!--registration-->

<section class="section registration-section">
  <div class="container">
    <h2 class="registration-title">Registration</h2>
    <div class="registration-menu">
      <div class="registration-articles">
        <p class="registration-text">May 23, 11:00 <br />New York</p>
        <p class="registration-text">$ 699</p>
      </div>
      <form registration-form>
        <h3 class="registration-form-title">Apply your personal info <br />for registration</h3>
        <label class="registration-field" for="name">
          <input type="text" name="name" id="name" placeholder="Your name" />
        </label>
        <label class="registration-field" for="tel">
          <input type="tel" name="tel" id="tel" placeholder="Phone number" />
        </label>
        <label class="registration-field" for="mail">
          <input type="email" name="mail" id="mail" placeholder="Email" />
        </label>
      </form>
      <button class="registration-button" type="submit">Register</button>
    </div>
  </div>
</section>
