<section class="reviews">
    <div class="container">
        <h2 class="section-title">Reviews</h2>
        <ul class="review-list">
           <li class="review-item">
               <img src="./images/reviews/review-img1.png" alt="John Review" width="136px" height="136px">
               <svg class="review-stars">
                   <use href="./images/reviews/review-sprite.svg#icon-rate-5stars"></use>
               </svg>
               <p class="review-name">John</p>
           </li>
           <li class="review-item">
               <img src="./images/reviews/review-img2.png" alt="Will Review" width="234px" height="234px">
               <svg class="review-stars">
                   <use href="./images/reviews/review-sprite.svg#icon-rate-5stars"></use>
               </svg>
               <p class="review-name">Will</p>
           </li>
           <li class="review-item">
               <img src="./images/reviews/review-img3.png" alt="Elisabeth Review" width="136px" height="136px">
               <svg class="review-stars">
                   <use href="./images/reviews/review-sprite.svg#icon-rate-5stars"></use>
               </svg>
               <p class="review-name">Elisabeth</p>
           </li>
        </ul>
        <p class="review-text">Last time I have visited a cooking course by Eva 
            I was impressed with the way she explained everything
            to people. You can be sure you will manage to cook a delicious dish even if it is your first time in the kitchen!
            Thank you so much for the masterclass! Looking forward to the next one and highly recommend it to everyone!
        </p>
            <div class="pagination">
                <p class="prev">2</p><span>/</span><p class="next">15</p>
            </div>
    </div>
    </section>