<section class="reviews">
    <div class="container">
        <h2 class="section-title">Reviews</h2>
        <ul class="slider">
            
            <li class="slider__item"> <img src="../images/reviews/review-img9.png" alt="John Review"> <svg class="slider__stars">
          <use href="../images/reviews/review-sprite.svg#icon-rate-5stars"></use>
        </svg>
                <p class="slider__author">Will</p>
            </li>
            <li class="slider__item"> <img src="../images/reviews/review-img2.png" alt="Elisabeth Review"> <svg class="slider__stars">
          <use href="../images/reviews/review-sprite.svg#icon-rate-5stars"></use>
        </svg>
                <p class="slider__author">Elisabeth</p>
            </li>
            <li class="slider__item"> <img src="../images/reviews/review-img4.png" alt="John Review"> <svg class="slider__stars">
          <use href="../images/reviews/review-sprite.svg#icon-rate-4stars"></use>
        </svg>
                <p class="slider__author">John</p>
            </li>
            <div class="slider__item"> <img src="../images/reviews/review-img5.png" alt="John Review"> <svg class="slider__stars">
          <use href="../images/reviews/review-sprite.svg#icon-rate-4stars"></use>
        </svg>
                <p class="slider__author">John</p>
            </div>
            <div class="slider__item"> <img src="../images/reviews/review-img6.png" alt="John Review"> <svg class="slider__stars">
          <use href="../images/reviews/review-sprite.svg#icon-rate-4stars"></use>
        </svg>
                <p class="slider__author">John</p>
            </div>
            <div class="slider__item"> <img src="../images/reviews/review-img7.png" alt="John Review"> <svg class="slider__stars">
          <use href="../images/reviews/review-sprite.svg#icon-rate-4stars"></use>
        </svg>
                <p class="slider__author">John</p>
            </div>
        </ul>
        <ul class="slider-text">
            <li class="slider-text__item">Last time I have visited a cooking course by Eva I was impressed with the way she explained everything to people. You can be sure you will manage to cook a delicious dish even if it is your first time in the kitchen! Thank you so much for the masterclass! Looking forward to the next one and highly recommend it to everyone! </li>
            <li class="slider-text__item">Thank you for your super review. And thank you for hoping us to be more successful. That means so much for us Now we are in full power after reading this and will try to be better and better Have a nice day ! </li>
            <li class="slider-text__item">These donuts are the best!! They are so fresh and delicious, we loved every single donut we have tried! Our favorite was the boston cream and the salted caramel donut! Also the coffee is amazing and the taste is unbelievable. In my opinion are these donuts much more better than the one from Dunkin Donuts!! If you like donuts, you have to go to tarabelle </li>
            <li class="slider-text__item">Stop by to bought some doughnuts, meet with friendly owner. All doughnuts made by owner and fresh of the days. </li>
            <li class="slider-text__item">Since I don't like donuts in general because it was always too sweet for me...EXCEPT THIS PLACE! This place was an exception and the owners make excellent fresh donuts there so I would strongly recommend to check this place out during your stay in Bali. Everything tastes just perfect for me, not too sugary, not too sweet, great flavors and real fresh! They even make pretty good coffee as well! Who wouldn't go to Bali without a nice donut and a cup of nice coffee!? The owners are very wonderful and hardworking as well. It was a big pleasure trying their food, coffee, and meeting them in person. </li>
            <li class="slider-texxt__item">Unbelievable hospitality for a small donut joint! Owners are so friendly and outgoing! Donuts are to die for!!! Coffees amazing as well! Take that Tim Hortons! My husband took me here on our afternoon date after he got out of the water surfin in Balangan. The donuts were soooo fluffy and yums. The Cappuccino were delicious and the place smelled soo good. Owned by these very cute Korean couple. You just need to swing by to indulge yourself with the sweetest treats you'll ever find in Bukit area. Definitely go back for more. </li>
            <li class="slider-texxt__item">Wished they have baked more!! Chatted with their owners and found out they only sell donuts that are baked on the same day itself and hence only limited amount is available every day. They bake only twice a day. So best to come early in the morning or early in the afternoon. </li>
        </ul>
        <div class="pagination">
            <p class="count"></p>
        </div>
    </div>
   
</section>